@model NhanVienViewModel
@using QLTB.Extensions

@{
    ViewData["Title"] = "Create";
}


<h2 class="text-info">Thêm Mới Nhân Viên</h2>

<form method="post" autocomplete="off">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NhanVien.HoTen"></label>
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="NhanVien.HoTen" />
            </div>
            <span class="text-danger" asp-validation-for="NhanVien.HoTen"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NhanVien.PhongBan"></label>
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="NhanVien.PhongBan" />
            </div>
            <span class="text-danger" asp-validation-for="NhanVien.PhongBan"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NhanVien.ChiNhanhId"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.NhanVien.ChiNhanhId" asp-items="Model.ChiNhanhs.ToSelectListItem(Model.NhanVien.ChiNhanhId)" class="form-control ddlChiNhanh"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NhanVien.VanPhong"></label>
            </div>
            <div class="col-5">
                <select asp-for="NhanVien.VanPhong" class="form-control ddlVanPhong"></select>
            </div>
            <span class="text-danger" asp-validation-for="NhanVien.VanPhong"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NhanVien.Khoi"></label>
            </div>
            <div class="col-5">
                <select class="form-control" asp-for="NhanVien.Khoi">
                    <option value="OB">OB</option>
                    <option value="ND">ND</option>
                </select>
            </div>
            <span class="text-danger" asp-validation-for="NhanVien.Khoi"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
            <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/Admin/NhanVien/createController.js"></script>
    }

}

