@model NhanVienViewModel

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Xóa ?</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Danh Sách Nhân Viên</a></li>
                    <li class="breadcrumb-item active">Xóa Nhân Viên - @Model.NhanVien.Name</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Xóa Nhân Viên - @Model.NhanVien.Name</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form method="post" autocomplete="off">
                <div class="p-4 border rounded row">


                    <div class="col-8">

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="NhanVien.Name"></label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" asp-for="NhanVien.Name" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="NhanVien.PhongBan"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="NhanVien.PhongBan" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="ChiNhanhs"></label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" asp-for="NhanVien.ChiNhanh.MaChiNhanh" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="NhanVien.VanPhong"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="NhanVien.VanPhong" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="NhanVien.Khoi"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="NhanVien.Khoi" class="form-control" readonly />
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" asp-action="Delete" asp-route-id="@Model.NhanVien.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
                        </div>
                    </div>

                </div>
            </form>


        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


