@model EditRoleViewModel
@using QLTB.Extensions

@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="ListRoles">Danh Sách Role</a></li>
                    <li class="breadcrumb-item active">Cập nhật Role</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Cập nhật Role</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <div class="card-body login-card-body" style="border-radius: 25px;">

                <form method="post" autocomplete="off">
                    <div class="p-4 border rounded">
                        @*<input type="hidden" asp-for="strUrl" />*@
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Id"></label>
                            </div>
                            <div class="input-group mb-3 col-4">

                                <input asp-for="Id" class="form-control" readonly>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-id-badge"></span>
                                    </div>
                                </div>
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>

                            <div class="col-2">
                                <label asp-for="RoleName"></label>
                            </div>
                            <div class="input-group mb-3 col-4">

                                <input asp-for="RoleName" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-users"></span>
                                    </div>
                                </div>
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                            <a class="btn btn-success" asp-action="ListRoles"><i class="fas fa-backward"></i></a>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3>User in this role</h3>
                        </div>
                        <div class="card-body">
                            @if (Model.Users.Any())
                            {
                                foreach (var user in Model.Users)
                                {
                                    <h5 class="card-title">@user</h5>
                                }
                            }
                            else
                            {
                                <h5 class="card-title">None at the moment</h5>
                            }
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" title="Update"><i class="fas fa-user-edit"></i></a>
                            <a href="#" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>

                </form>

                

            </div>
            <!-- /.login-card-body -->
        </div>



    </div>
    <!-- /.card-body -->
    <!-- /.card -->

</section>
<!-- /.content -->
@*@section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");

            <script src="~/js/Admin/Register/createController.js"></script>
        }

    }*@