<aside class="main-sidebar sidebar-dark-navy elevation-4">
    
    <!-- Brand Logo -->
    <a href="~/lib/index3.html" class="brand-link">
        <img src="~/lib/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/lib/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
                @* Danh muc thiet bi *@
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Danh mục thiết bị
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ThietBis" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thiết bị</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="LoaiThietBis" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại thiết bị</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="PhanMems" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Phần mềm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="LoaiPhanMems" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại phần mềm</p>
                            </a>
                        </li>
                    </ul>
                </li>

                @* Danh muc ban giao *@
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Danh mục bàn giao
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="BanGiaos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bàn Giao</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ChiTietBanGiaos" asp-action="List" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>CT Bàn Giao</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NhapKhos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kho Văn Phòng</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>

                @* Quan Tri *@
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Quản Trị
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ChiNhanhs" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Chi Nhánh</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="VanPhongs" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Văn Phòng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="NhanViens" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nhân Viên</p>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>