
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 class="text-blue">Your password is successfully changed.</h2>
    <img src="~/image/logo1.png" class="elevation-2 rounded border bg-blue" />
</div>