@model BanGiaoCreateViewModel
@using QLTB.Extensions

@{
    ViewData["Title"] = "Create";
}



<h2 class="text-info">Thêm Mới Bàn Giao</h2>

<form method="post" autocomplete="off" >
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="BanGiao.NguoiLap"></label>
            </div>
            <div class="col-4">
                <input class="form-control" asp-for="BanGiao.NguoiLap" />
            </div>
            <span class="text-danger" asp-validation-for="BanGiao.NguoiLap"></span>

            <div class="col-2">
                <label asp-for="BanGiao.NguoiNhan"></label>
            </div>
            <div class="col-4">
                <select class="form-control" asp-for="BanGiao.NguoiNhan" asp-items="@Model.NhanViens.ToSelectListItemString(Model.BanGiao.NguoiNhan)" ></select>
            </div>
            <span class="text-danger" asp-validation-for="BanGiao.NguoiNhan"></span>

        </div>

        @*<div class="form-group row">
            
        </div>*@

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="BanGiao.ChiNhanhId"></label>
        </div>
        <div class="col-4">
            <select asp-for="@Model.BanGiao.ChiNhanhId" asp-items="Model.ChiNhanhs.ToSelectListItem(Model.BanGiao.ChiNhanhId)" class="form-control ddlChiNhanh"></select>
        </div>

        <div class="col-2">
            <label asp-for="BanGiao.VanPhong"></label>
        </div>
        <div class="col-4">
            <select asp-for="BanGiao.VanPhong" class="form-control ddlVanPhong"></select>
        </div>
        <span class="text-danger" asp-validation-for="BanGiao.VanPhong"></span>
    </div>

        @*<div class="form-group row">
            
        </div>*@

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="BanGiao.Khoi"></label>
        </div>
        <div class="col-4">
            <select asp-for="BanGiao.Khoi" class="form-control">
                <option value="OB">OB</option>
                <option value="ND">ND</option>
                <option value="">--None--</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="BanGiao.Khoi"></span>

        <div class="col-2">
            <label asp-for="BanGiao.PhongBan"></label>
        </div>
        <div class="col-4">
            <input class="form-control" asp-for="BanGiao.PhongBan" />
        </div>
        <span class="text-danger" asp-validation-for="BanGiao.PhongBan"></span>
    </div>

        @*<div class="form-group row">
            
        </div>*@

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="BanGiao.TinhTrang"></label>
        </div>
        <div class="col-4">
            <input type="checkbox" asp-for="BanGiao.TinhTrang" />
        </div>
        
        <div class="col-2">
            <label asp-for="BanGiao.LoaiThietBi"></label>
        </div>
        <div class="col-4">
            <select asp-for="BanGiao.LoaiThietBi" class="form-control" asp-items="@Model.LoaiThietBis.ToSelectListItemString(Model.BanGiao.LoaiThietBi)" ></select>
        </div>

        
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="BanGiao.LyDo"></label>
        </div>
        <div class="col-4">
            <textarea class="form-control" asp-for="BanGiao.LyDo"></textarea>
        </div>
        <span class="text-danger" asp-validation-for="BanGiao.LyDo"></span>
    </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
            <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
<script src="~/js/Admin/BanGiao/createController.js"></script>
        }
}

