@model ChiNhanh
@{
    ViewData["Title"] = "Edit";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập Nhật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Danh Sách Chi Nhánh</a></li>
                    <li class="breadcrumb-item active">Cập Nhật Chi Nhánh - @Model.Name</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-edit text-info"></i> Cập Nhật Chi Nhánh - @Model.Name</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form asp-action="Edit" method="post" autocomplete="off">
                <div class="p-4 border rounded">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="MaChiNhanh"></label>
                        </div>
                        <div class="col-5">
                            <input class="form-control" asp-for="MaChiNhanh" />
                        </div>
                        <span class="text-danger" asp-validation-for="MaChiNhanh"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-5">
                            <input class="form-control" asp-for="Name" />
                        </div>
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="DiaChi"></label>
                        </div>
                        <div class="col-5">
                            <input class="form-control" asp-for="DiaChi" />
                        </div>
                        <span class="text-danger" asp-validation-for="DiaChi"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="DienThoai"></label>
                        </div>
                        <div class="col-5">
                            <input class="form-control" asp-for="DienThoai" />
                        </div>
                        <span class="text-danger" asp-validation-for="DienThoai"></span>
                    </div>

                   
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

